@media screen 
and (max-width:600px)
{
    
    .navbar-container{
        display:flex !important;
        flex-direction: column !important;
        margin-left:0% !important;
        margin-right: 1.1rem !important;
    }
    .img-icon{
        height: 24px !important;
        width: 24px !important;
    }
}
.title-container {
    font-family: 'Roboto';
    font-weight: 900;
    font-style:italic;
    text-shadow: 0.4vw 0.25vw 0.25vw rgba(251, 12, 12,1), 0px -0.25vw 0.4vw rgba(12, 79, 251,.5),-0.4vw 0px 0.25vw rgba(52, 251, 12, 1);
    animation: chromaticMove 5000ms ease infinite ,pulse ease 200ms  infinite;
    color:white;
    text-align:center;
    flex: 1 0 auto;
    margin-right:auto;
    font-size:10vw;
    font-weight: bold;
    position: relative;
    max-width: 90vw;
    margin-left:auto;
}
@keyframes chromaticMove { 
    0%{text-shadow: 0.4vw 0.25vw 0.25vw rgba(251, 12, 12,1), 0px -0.25vw 0.4vw rgba(12, 79, 251,.5),0px 0px -0.25vw rgba(52, 251, 12, 1);}
    50%{text-shadow: 0.4vw 0.25vw 0.25vw rgba(251, 12, 12,1), 0px -0.25vw 0.25vw rgba(12, 79, 251,.5),-0.4vw 0.25vw 0.4vw rgba(52, 251, 12, 1);}
    100%{text-shadow: 0.4vw 0.25vw 0.25vw rgba(251, 12, 12,1), 0px -0.25vw 0.25vw rgba(12, 79, 251,.5),0.25vw -0.25vw 0.25vw rgba(52, 251, 12, 1);}
}

.navbar-container{
    margin-left:12.5%;
    position:relative;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px outset black ;
    border-radius: 0.25em;
    max-width: fit-content;
}

ul{
    padding:0.5rem;
    margin:0;
}
.nav-menu{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    list-style:none;
}


.img-icon{
    height:32px;
    width:32px;
    
}