@media screen 
and (max-width:750px)
{
    .title-container{
        margin-top:1rem;
    }
    .navbar-container{
        display:none !important;
        flex-direction: column !important;
    }
    .img-icon{
        height: 24px !important;
        width: 24px !important;
    }
}
.title-container {
    font-family: 'Roboto';
    font-weight: 900;
    font-style:italic;
    text-shadow: 0.35vw 0.25vw 0.25vw rgba(251, 12, 12,1), 0px -0.25vw 0.35vw rgba(12, 79, 251,.5),-0.35vw 0px 0.25vw rgba(52, 251, 12, 1);
    animation: chromaticMove 5000ms ease infinite ,pulse ease 1000ms  infinite;
    color:white;
    text-align:center;
    margin-right:auto;
    line-height: 75%;
    font-size:8.5vw;
    font-weight: bold;
    position: relative;
    max-width: 90vw;
    margin-left:auto;
}
@keyframes chromaticMove { 
    0%{text-shadow: 0.35vw 0.25vw 0.25vw rgba(251, 12, 12,1), 0px -0.25vw 0.35vw rgba(12, 79, 251,.5),0px 0px -0.25vw rgba(52, 251, 12, 1);}
    50%{text-shadow: 0.35vw 0.25vw 0.25vw rgba(251, 12, 12,1), 0px -0.25vw 0.25vw rgba(12, 79, 251,.5),-0.35vw 0.25vw 0.35vw rgba(52, 251, 12, 1);}
    100%{text-shadow: 0.35vw 0.25vw 0.25vw rgba(251, 12, 12,1), 0px -0.25vw 0.25vw rgba(12, 79, 251,.5),0.25vw -0.25vw 0.25vw rgba(52, 251, 12, 1);}
}

@keyframes pulse { 
    0%{ opacity:.9;transform: skewX(.5deg);}
    25%{ opacity:1;}
    50%{opacity:.9;}
    75%{ opacity:1; transform:skewX(.5deg);}
    100%{opacity:.9;}
}
.navbar-container{
    float:left;
    margin-left:auto;
    position:relative;
    display:flex;
    height:40px;
    justify-content: flex-end;
    align-items: center;
    overflow:hidden;
    max-width: 100vw;
    z-index: 1;
}

ul{
    padding:0.5rem;
    margin:0;
}
.nav-menu{
    
    display:flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    list-style:none;
    
}


.img-icon{
    height:32px;
    width:32px;
    
}