.top-to-btm{
    position: relative;
    height:100px;
    z-index: 5;
  }
  .icon-position{
    position: fixed;
    bottom: 70px;
    right: 100px;
    z-index: 20;
  }
  .icon-style{
    background-color: #222;
    border: 2px solid lightgray;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    color: lightgray;
    cursor: pointer;
    animation: movebtn 3s ease-in-out infinite;
    transition: all .5s ease-in-out;
  }
  .icon-style:hover{
    animation: none;
    background: lightgray;
    color: #222;
    border: 2px solid #222;
  }
  @keyframes movebtn {
    0%{
      transform: translateY(0px);
    }
    25%{
      transform: translateY(20px);
    }
    50%{
      transform: translateY(0px);
    }
    75%{
      transform: translateY(-20px);
    }
    100%{
      transform: translateY(0px);
    }
  }