.youtube-container{
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.7);
}
iframe{
    object-fit:cover;
    margin-bottom: auto;
    margin-left: auto;
    margin-right:auto;
    width: 67.5%;
    height: 71%;
    padding:0rem;
    position: absolute;
    overflow:hidden;
    z-index: 1;
}
@media screen 
and (max-width:600px)
{
    iframe{
        height: 75%;
        width:70%;
    }

}

/*position:absolute;
    border-radius:0.25em;
    padding-bottom: 1rem;
    object-fit: fill;
    max-width:892px;
    max-height:700px;
    min-height: 700px;
    min-width: 800px;
    height: 100%;
    width:100%; */