.youtube-container{
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.7);
}
iframe{
    border: 22px solid transparent;
    box-sizing: border-box;
    object-fit:contain;
    margin-bottom: auto;
    margin-left: auto;
    margin-right:auto;
    width: 100%;
    height: 100%;
    max-width: 800px;
    min-width: none;
    max-height: 685px;
    min-height: 300px;
    padding: 0px 0px 0px 0px;
    margin-top: 30px;
    overflow:visible;
}
.modal-wrapper{
    outline:none;
}
  .modal-container {
    position: absolute;
    display: flex;
    width: 450px;
    flex-direction: column;
    top: 50%;
    left: 50%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    outline:none;
  }
  .clippy-container {
    background: url("/assets/clippy.gif") center center no-repeat;
    background-size: contain;
    height: 200px;
    width: 200px;
  }
  .dialogue-box::before {
    align-self: flex-end;
    content: "";
    display: block;
    position: absolute;
    top: 57%;
    left: 35%;
    width: 6vmin;
    height: 6vmin;
    border-left: 0.375vmin solid #666;
    background-image: linear-gradient(
      -45deg,
      transparent 50%,
      #666 0 54%,
      #ffc 0
    );
    transform: skew(-35deg);
  }
  .dialogue-box {
    align-self: flex-end;
    bottom: 35vmin;
    left: 20vmin;
    width: 300px;
    height:250px;
    padding: 2vmin;
    background: #ffc;
    border-radius: 1vmin;
    border: 0.375vmin solid #666;
    font-size: 2rem;
    background-color: #ffc;
  }
  .dialogue-title{
    text-align: left
  }
  .button-container {
    margin-top: 2rem;
    gap:1rem;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  @media screen and (min-width: 576px) and (max-width: 805px)
{
    iframe{
        max-height: 596px;
        min-height: 321px;
        padding: 2px 8px 0px 13px;
        margin: 26px auto auto;
        object-fit: contain;
        width: 100%;
        height: 100%;
        max-width: 634px;
    }
}
@media screen and (min-width: 806px) and (max-width: 980px)
{
    iframe{
        max-height: 596px;
        min-height: 321px;
        padding: 2px 8px 0px 13px;
        margin: 26px auto auto;
        object-fit: contain;
        width: 100%;
        height: 100%;
        max-width: 634px;
    }
}

@media screen and (min-width: 981px) and (max-width: 1200px)
{
    iframe{
        max-height: 653px;
        min-height: 321px;
        padding: 2px 2px 0 6px;
        margin: 34px auto auto;
        object-fit: contain;
        width: 100%;
        height: 100%;
        max-width: 681px;
    }
}
@media screen and (min-width: 1201)
{
    iframe{
        object-fit: contain;
        width: 100%;
        height: 100%;
        max-width: 800px;
        min-width: none;
        max-height: 685px;
        min-height: 300px;
        padding: 0;
        margin: 48px auto auto;
        overflow: visible;
    }
}
/* @media screen and
(max-width:1560px){
    iframe{
    }
}
@media screen and 
(max-width:1260px){
    iframe{
       
    }
} */
/* @media screen and 
(max-width:1200px){
    iframe{
        max-width: 838px !important;
        max-height: 689px !important;
        min-height: 300px !important;
        margin: 12px 0px 0px !important;
        padding: 7px 2px !important;
    }
} */

/* @media screen and
(max-width: 980px) {
    iframe{
        max-width: 970px !important;
        padding: 0px 135 !important;
        max-height: 618px !important;
    }
}
@media screen and
(max-width:890px) {
    iframe{
    }
    
}
@media screen and
(max-width:825px) {
    iframe{
       
    }
}
@media screen and 
(max-width:780px){
    iframe{
       
    }
    
}
@media screen and
(max-width:680px){
    iframe{
       
    }
    
}
@media screen and
(max-width: 600px) {
    iframe{
       
    }
}
@media screen and
(max-width: 555px) {
    iframe{
    }
}
@media screen and
(max-width:520px) {
    iframe{
       
    }
    
}
@media screen and
(max-width:485px) {
    iframe{
    }
}
@media screen and
(max-width:455px) {
    iframe{
       
    }
}
@media screen and
(max-width:410px) {
    iframe{
       
    }
}
@media screen and
(max-width:370px) {
    iframe{
        
    }
}
@media screen and 
(max-width:340px){
    iframe{
       
    }
}
@media screen and
(max-width:310px) {
    iframe{
       
    }
}
@media screen and
(max-width:285px) {
    iframe{
        
    }
} */

/*position:absolute;
    border-radius:0.25em;
    padding-bottom: 1rem;
    object-fit: fill;
    max-width:892px;
    max-height:700px;
    min-height: 700px;
    min-width: 800px;
    height: 100%;
    width:100%; */