

.wrapper-container{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    overflow: hidden;
   
}
wrapper-container{
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    overflow: hidden;
}
.background-container{
   z-index: 6;
   width: 100%;
   height: 100%;
   min-height: 600px;
   max-height: 800px;
   max-width: 1000px;
   margin-bottom: 6%;
   background: url('../public/assets/frame.webp') center center no-repeat;
   background-size: contain;
   margin-left: auto;
   margin-right: auto;
   position: absolute;
   padding-bottom: 67.5%;
}

.wrapper-container iframe{
    box-sizing: border-box;
}
@media screen and
(max-width:1270px)
{
    .background-container{
        width: 100%;
        height: 100%;
        margin-bottom: 10%;
    }
}
@media screen and 
(max-width:980px)
{
    .background-container{

    }
}
@media screen and
(max-width:520px) 
{
    .background-container{
        background-size: 110% 75%;
        padding-bottom: 0%;
        max-height: 550px;
        max-width: 400px;
        margin-bottom: 0%;
    }
}
