.youtube-container{
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.7);
}
iframe{
    border: 22px solid transparent;
    box-sizing: border-box;
    object-fit:contain;
    margin-bottom: auto;
    margin-left: auto;
    margin-right:auto;
    width: 100%;
    height: 100%;
    max-width: 700px;
    max-height: 700px;
    min-height: 300px;
    padding: 0% 0% 4%;
    position: absolute;
    overflow:visible;
    z-index: 5;
}


@media screen and
(max-width:1560px){
    iframe{
        padding: 1% 0% 8% !important;
    }
}
@media screen and 
(max-width:1260px){
    iframe{
        padding: 0% 0% 10% !important;
    }
}

@media screen and
(max-width: 980px) {
    iframe{
        max-width: 72.5% !important;
        padding: 5% 0.25% 11% !important;
        max-height: 90% !important;
    }
}
@media screen and
(max-width:890px) {
    iframe{
        padding: 4% 0% 14% !important;
    }
    
}
@media screen and
(max-width:825px) {
    iframe{
        max-height: 600px !important;
        padding: 5% 1% 15% !important;
    }
}
@media screen and 
(max-width:760px){
    iframe{
        max-height: 550px !important;
        padding: 6% 0% 16% !important;
        width: 650px;
    }
    
}
@media screen and
(max-width:680px){
    iframe{
        max-height: 500px !important;
        width: 575px !important;
        padding: 7% 0% 17% !important;
    }
    
}
@media screen and
(max-width: 600px) {
    iframe{
        max-width: 75% !important;
        padding: 4% 0% 15% !important;
    }
}
@media screen and
(max-width: 555px) {
    iframe{
        padding: 5% 0.5% 17% !important;
    }
}
@media screen and
(max-width:520px) {
    iframe{
        max-width: 80% !important;
        padding: 9% 3% 9% !important;
        height: 440px !important;
    }
    
}
@media screen and
(max-width:485px) {
    iframe{
        padding: 10% 0.8% 10% !important;
    }
}
@media screen and
(max-width:455px) {
    iframe{
        height: 400px !important;
        min-width: 375px !important;
        padding: 5% 2% 5% !important;
    }
}
@media screen and
(max-width:405px) {
    iframe{
        max-width: 100% !important;
        height: 360px !important;
        width: 470px !important;
        padding: 0% 6% 0% !important;
    }
}
@media screen and
(max-width:370px) {
    iframe{
        max-width: 80% !important;
        min-width: 350px !important;
        padding: 0% 10% 1% !important;
    }
}
@media screen and 
(max-width:340px){
    iframe{
        padding: 0% 10% 1% !important;
    }
}
@media screen and
(max-width:310px) {
    iframe{
        min-width: 275px !important;
        width: 100% !important;
        padding: 1.5% 0% 1.5% !important;
    }
}
@media screen and
(max-width:280px) {
    iframe{
        min-height: 375px !important;
        min-width: 220px!important;
        padding: 1.5% 0% 1.5% !important;
        width: 110% !important;
        max-height: 35vh   !important;
    }
}

/*position:absolute;
    border-radius:0.25em;
    padding-bottom: 1rem;
    object-fit: fill;
    max-width:892px;
    max-height:700px;
    min-height: 700px;
    min-width: 800px;
    height: 100%;
    width:100%; */