@media screen 
and (max-width:600px)
{
    .title-container{
        font-size:1.5rem !important;
        margin-left: 1rem !important;
        margin-right: 0.75rem !important;
    }
    .navbar-container{
        display:flex !important;
        flex-direction: column !important;
        margin-left:0% !important;
        margin-right: 1.1rem !important;
    }
    .img-icon{
        height: 24px !important;
        width: 24px !important;
    }
}
.title-container {
    color:white;
    text-align:center;
    flex: 1 0 auto;
    margin-right:none;
    font-size:3rem;
    font-weight: bold;
    position: relative;
    max-width: 50%;
    margin-left:auto;
}


.navbar-container{
    margin-left:12.5%;
    position:relative;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px outset black ;
    border-radius: 0.25em;
    max-width: fit-content;
}

ul{
    padding:0.5rem;
    margin:0;
}
.nav-menu{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    list-style:none;
}


.img-icon{
    height:32px;
    width:32px;
    
}